name: Latest Build
on:
    push:
        branches: [master]
jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
            -
                name: Checkout
                uses: actions/checkout@v4.2.2
            -
                name: Configure Java
                uses: actions/setup-java@v4.7.1
                with:
                    java-version: 17
                    distribution: oracle
            -
                name: Tests
                run: ./gradlew check
